{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles otree_tags %}

{% block title %}
    Part 2 Instructions
{% endblock %}

{% block styles %}
    <style>
        iframe {
            width: 100%;
            height: 85vh;
            padding-bottom: 15px;
        }
    </style>
{% endblock %}

{% block content %}

    <p>
    Welcome to Monash Finance Laboratory!
</p>

<p>
    You are about to participate in an interactive decision-making experiment. The experiment is
    expected to last about one and a half hours. During the experiment, you will earn “Points.”
    You are guaranteed a $10 show up fee for your cooperation.
    The rate at which we exchange your points into cash will be 50 points = $1
</p>

<p>
    If you have any questions, please raise your hand and wait for an experimenter to come to you.
    Please do not talk, exclaim, or try to communicate with other participants during the experiment.
    Please do not write on paper copies of instructions. Please do not do anything with your computer
    until specifically instructed to do so. Also, please mute your cell phones now.
</p>

<p>
    Before the experiment starts, you will have some time to go through the instructions.
</p>



	<iframe src="{{ instructions_link_task2 }}" frameborder="0"></iframe>

    {% next_button %}

{% endblock %}
